BOT_NAME=CENTRICO-MD
PREFIX=!
OWNER_NAME=YOUNGEST BILLIONAIRE
ADMIN_NUMBERS=2348012345678
MONGODB_URI=mongodb://127.0.0.1:27017/centrico_md
AUTH_DIR=./auth
MEDIA_DIR=./media
RATE_LIMIT_MAX=8
RATE_LIMIT_WINDOW_MS=10000
LOG_MESSAGES=true
